<div style="background-image: url('assets/background.jpg');">
<h1 style="text-align: center;">Welcome to bussiness training portal!!</h1>
<table>
  <tr>
    <th>Taining ID</th>
    <th>Training Name</th>
  </tr>
  <tr>
    <td>101</td>
    <td>Business development</td>
  </tr>
  <tr>
    <td>102</td>
    <td>Marketing</td>
  </tr>
  <tr>
    <td>103</td>
    <td>Sales</td>
  </tr>
  <tr>
    <td>104</td>
    <td>Finance</td>
  </tr>
  <tr>
    <td>105</td>
    <td>Information Systems</td>
  </tr>
  <tr>
    <td>106</td>
    <td>Digital Marketing</td>
  </tr>
</table>
<br><br>
<input type="text" id="name" placeholder="Enter you name" name="name" #name>
<input type="number" id="trainingid" placeholder="Enter your training ID" name="trainingid" #trainingid>
<input type="text" id="trainingname" placeholder="Enter preferred training name" name="trainingname" #trainingname>
<br><br>
<app-hall-information (childEvent)="hall=$event" [parentData]="trainingid"></app-hall-information>
<h3>Please go to Hall: {{hall}}</h3>
</div>